<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProfileFillingTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ProfileFillingTool.Properties.Settings>
            <setting name="initialBaudRateValue" serializeAs="String">
                <value>38400</value>
            </setting>
            <setting name="initialPasswordValue" serializeAs="String">
                <value>12345678</value>
            </setting>
            <setting name="initialEncryptionModeValue" serializeAs="String">
                <value>Password</value>
            </setting>
            <setting name="initialEncryptionKeyValue" serializeAs="String">
                <value>00112233445566778899AABBCCDDEEFF</value>
            </setting>
            <setting name="initialAuthenticationKeyValue" serializeAs="String">
                <value>00112233445566778899AABBCCDDEEFF</value>
            </setting>
            <setting name="initialUseAssociationValue" serializeAs="String">
                <value>1 - Management</value>
            </setting>
            <setting name="initial1107UseValue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioButtonIpSelected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="initialComPortValue" serializeAs="String">
                <value />
            </setting>
            <setting name="radioButtonBaudRateSelected" serializeAs="String">
                <value>True</value>
            </setting>
        </ProfileFillingTool.Properties.Settings>
    </userSettings>
</configuration>